<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false"
      throwExceptions="false">


  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <targets>

    <!-- File logging: archive above 10MB; keep 10 archive files -->
    <!-- Buffer logging requests: 100 max requests over sliding timeout of 500 milliseconds -->
    <target xsi:type="BufferingWrapper" name="bufferFile"
            bufferSize="100"
            flushTimeout="500"
            overflowAction="Flush"
            slidingTimeout="true">
      <target xsi:type="File" name="file"
              archiveAboveSize="10240000"
              archiveFileName="C:\temp\TestSignalR\logs\logfile.archive.{######}.log"
              archiveNumbering="Sequence"
              concurrentWrites="false"
              enableFileDelete="true"
              fileName="C:\temp\TestSignalR\logs\logfile.log"
              keepFileOpen="false"
              layout="${longdate} ${level:uppercase=true} [${logger}] ${message}${when:when=level>=LogLevel.Error:inner= ${exception:format=tostring}:else=}"
              maxArchiveFiles="10" />
    </target>

  </targets>


  <!--
    Valid NLog logging levels:
    LEVEL	    EXAMPLE

    Fatal	    Highest level: important stuff down
    Error	    For example application crashes / exceptions.
    Warn	    Incorrect behavior but the application can continue
    Info	    Normal behavior like mail sent, user updated profile etc.
    Debug	    Executed queries, user authenticated, session expired
    Trace	    Begin method X, end method X etc
  -->
  <rules>
    
    <logger name="*" enabled="true" minlevel="Info" writeTo="bufferFile" />

  </rules>


</nlog>